<!-- Developer: Elif Sebnem Cudi -->

<!DOCTYPE HTML5>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Custom CSS -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'mentorsforall/footerstyle.css' %}">
  <title>Edit Your Event - Mentors for All</title>
  <style>
    :root {
      --input-padding-x: 1.5rem;
      --input-padding-y: 0.75rem;
    }

    .btn-default {
       color: #111 !important;
       background-color:#82d8d0;
    }

    .event-userpic img {
      float: none;
      margin: 0 auto;
      width: 50%;
      border-radius: 2rem;
    }

    .container {
      margin-top:20px;
    }

    html {
    height: 100%;
    }

    body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    }

    body>.container {
    flex-grow: 1;
    }

    .bs-searchbox input {
      padding: 0.1rem !important;
    }

    a {
      color: #111;
    }

    a:hover {
      color: #82d8d0;
    }
  </style>
</head>

<body>
  {% include "mentorsforall/navbar.html" %}
  <div class="container">
    <h1>Edit Event</h1>
    <hr>
    <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <div class="event-userpic">
            <img src="{% if event.image %}{{ event.image.url }}{% endif %}" alt="Event Image" class="avatar img-circle" id="event_image_image">
          </div>
          <br>
          <h6>Upload a different photo...</h6>
          <form method="post" action="{% url 'event_image_upload_endpoint' event_id=event.id %}" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <input type="file" name="event_image" class="form-control" value="" id="profile_image">
            <br>
            <input type="submit" name="event_image_button" value="Upload Image" id="event_image_button" class="btn btn-default upload-image-button">
          </form>
        </div>
      </div>
      <!-- edit form column -->
      <div class="col-md-9 event-info">
        <h3>Event Info</h3>

        <form method="post" action="{% url 'event_save' event_id=event.id %}" class="form-horizontal">
          {% csrf_token %}
          <div class="form-group">
            <label class="col-lg-3 control-label">Event name:</label>
            <div class="col-lg-8">
              <input class="form-control" id="register_name" name="register_name" type="text" value="{{event.name}}">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">City:</label>
            <div class="col-lg-8">
              <input class="form-control" id="register_city" name="register_city" type="text" value="{{event.city}}">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Date (YYYY-MM-DD):</label>
            <div class="col-lg-8">
              <input class="form-control" id="register_date" name="register_date" type="text" value="{{event.date}}">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Time:</label>
            <div class="col-lg-8">
              <input class="form-control" id="register_time" name="register_time" type="text" value="{{event.time}}">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-success" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-warning" value="Cancel">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr>
  {% include "mentorsforall/footer.html" %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
