<!-- Developer: Elif Sebnem Cudi -->

<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color:#2a8981;">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row" style="color:#fff">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Mission of Mentors for All</h5>
          <p>We want to make finding a mentor easier and more accessible for everyone!</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color:#24756e;color:#aaa">© 2019 Copyright: <span style="color:#fff">Elif Şebnem Cudi</span>
      <!-- <a href=""></a> -->
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
