<!-- Developer: Elif Sebnem Cudi -->

<!DOCTYPE HTML5>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Browse Categories - Mentors for All</title>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'mentorsforall/formstyle.css' %}">
  <script type="text/javascript">
    $(function() {
      $('#myList a').on('click', function(e) {
        e.preventDefault()
        $(this).tab('show')
      });
    });
  </script>
  <style>
    :root {
      --input-padding-x: 1.5rem;
      --input-padding-y: 0.75rem;
    }

    .container-fluid {
      margin: 20px 0px;
    }

    html {
      height: 100%;
    }

    body {
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }

    body > .container-fluid {
      flex-grow: 1;
    }

    .list-group-item.active {
      background-color: #80d8d0;
      border-color: #80d8d0;
    }
  </style>
</head>

<body>
  {% include "mentorsforall/navbar.html" %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          {% for c in categories %}
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" id="list-{{c}}-list" data-toggle="list" href="#list-{{c}}" role="tab" aria-controls="{{c}}">
            {{ c }}
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          {% for c in categories %}
          <div class="tab-pane fade" id="list-{{c}}" role="tabpanel" aria-labelledby="list-{{c}}-list">
            {% for s in subjectlist %}
            {% if s.get_category_display == c %}
            <a href="/do_search?mentor_dropdown=Subject&search_box_mentor={{s.name}}" class="list-group-item list-group-item-action">{{ s.name }}</a>
            {% endif %}
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% include "mentorsforall/footer.html" %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
